<h1>Editing Book</h1>

<%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>

  Title
  <%= f.text_field :title %>
  Body
  <%= f.text_area :body %>
  <%= f.submit 'Update Book' %>
<% end %>

<%= link_to  "Show", book_path %>

<%= link_to  "Back", book_path %>