<div class="box">
  <div class="flash">
    <strong><%= flash[:success] %></strong>
  </div>
   <h1>Editing Book</h1>
  <% if @book.errors.any? %>
    <%= @book.errors.count %> prohibited this book from being saved:
     <ul>
      <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
     </ul>
  <% end %>

  <div class="form-box">
    <%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>
      
      <div class="form_edit">
        <label for="book_title">Title</label><br>
        <%= f.text_field :title %>
      </div>
      <div class="form_edit">
        <label for="book_body">Body</label><br>
        <%= f.text_area :body %>
      </div>
      <div class="form_edit">
        <%= f.submit 'Update Book' %>
      </div>
    <% end %>

    <%= link_to  "Show", book_path %> | 
    <%= link_to  "Back", books_path %>
  </div>
</div>