<h1>Books</h1>

<% @books.each do |book| %>
  <h5>Title</h5>
  <span><%= book.title %></span>
  <h5>Body</h5>
  <span><%= book.body %></span>
  
  
  <%= link_to  "Show", book_path(book.id) %>
  <%= link_to "Edit", edit_book_path(book.id) %>
  <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %>
 
 <% end %>


<h2>New book</h2>

<% if @book.errors.any? %>
  <%= @book.errors.count %> prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: Book.new do |f| %>

  <p>Title</p>
  <%= f.text_field :title %>
 
  <p>Book</p>
  <%= f.text_area :body %>
 
  <%= f.submit 'Create Book' %>
<% end %>
