<!DOCTYPE html>
<html>
  <head>
    <title>ApplicationKadai</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header>
      <h1>Books</h1>
    </header>
    
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tdody>
        <tr>
          <td><%= @book.title %></tb>
          <tb><%= @book.body %></tb>
          <tb><%= link_to  "Show", book_path(book.id) %></tb>
          <tb><%= link_to "Edit", edit_book_path(book.id) %></tb>
          <tb><%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %></tb>
        </tr>
      </tbody>
    </table>
    
    <div class="form">
      <h2>New book</h2>

      <% if @book.errors.any? %>
      <%= @book.errors.count %> prohibited this book from being saved:
      <ul>
      <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
      </ul>
      <% end %>

      <%= form_with model: Book.new do |f| %>

  <p>Title</p>
  <%= f.text_field :title %>
 
  <p>Book</p>
  <%= f.text_area :body %>
 
  <%= f.submit 'Create Book' %>
    </div>
    
    <%= yield %>
  </body>
</html>
